<!---     

 <div class="row mb-5 mt-0">

    <div class="col-lg-12 text-center">
        <div class="btn-group col-lg-6" role="group" aria-label="Basic example">
            <button [routerLink]="['login']" routerLinkActive="active" type="button" class="btn btn-info ">
                login
            </button>

            <button [routerLink]="['chats']" routerLinkActive="active" type="button" class="btn btn-info ">
                Chat
            </button>


            
        </div>

    </div>
</div>

-->


<div  class="animated fadeInLeft ">
    <router-outlet> </router-outlet>

</div>

