<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Firebase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['formulario']" routerLinkActive="active" >FORMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['crudFirebase']" routerLinkActive="active" >DbRealtimeApiRest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/crudFirestore']" routerLinkActive="active"  >DbFirestoreApiRest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['chatFirebase']" routerLinkActive="active" >ChatFirestore</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productoFirestore']" routerLinkActive="active"   >ProductosFirestore</a>
        </li>
        
      </ul>
    </div>
</nav>